*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* Para alteração de cor em temas claros e escuros */
:root{
    --color-black:black;
    --color-pink:#FF0B53 ;
    --color-while:white;
}

.black-color{
    background-color: var(--color-black);
    color:var(--color-while);
}
.black-color .input-button > button:nth-child(1){
   background-color: var(--color-while);
   color: var(--color-pink);
}
.black-color .input-button > button:nth-child(2){
    color: white;
    background-color: #171F26;
}
.black-color .projeto-kills{
   background-color: #171F26 ;
}
.black-color .projeto-kills > button{
    background-color: #171F26;
    color: var(--color-while);

}
.black-color .box-top{
    background-color: #171F26;
}
.black-color .projeto-kills > button:focus{
    background-color: var(--color-black) ;
}
.black-color .input-button a{
    color: white;
}
.black-color .input-button button:nth-child(1) > a{
    color: #FF0B53;
}
.black-color  .box-projet{
    background-color: #cecece;
    
}
.black-color  .box-skills{
    background-color: #cecece;
    
}
.black-color .iconsMedia i{
    color: #cecece;
}
/* Para alteração de cor em temas claros e escuros */
html,body{
    height: 100%;
}
body{
    background-color: #cecece;
}
.Container{
    
    width: 100%;
    height: 100%;
}
.color-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
}
.mut{
    display: flex;
    align-items: center;
    width:  65px;
    height: 30px;
    box-shadow: var(--color-pink) 3px 2px 2px;
    border: 2px solid var(--color-pink);
    border-radius: 25px 25px; 
    padding: 5px; 
}
.mut > img{
    cursor: pointer;
    
}
/* Estilo de botão para alterar o tema do site */
.mid-content{
    display: flex;
    width: 80%;
    height: max-content;
    justify-content: center;
    flex-direction: column;
    margin: 2% auto;
}
.box-top{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    height: 10%;
    align-items: center;
}
#img-photo{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 20px 0;
    width: 120px;
    height: 120px;
    background-color:var(--color-pink);
    border-radius: 50%;

}
.Tagsnames{
    margin: 20px auto;
    width: max-content;
    text-align: center;
}
.Tagsnames h2{
    
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.8rem;
}
.Tagsnames h4{
    font-size: 1.0rem;
}
.barra{
    position: relative;
    top: -10px;
    left: 6px;
    width: 150px;
    height: 5px;
    background-color: var(--color-pink);
}
.iconsMedia{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    margin: 20px auto;
}
.iconsMedia > a{
    color: #171F26;
    cursor: pointer;
    
}
.iconsMedia i:hover{
  color: var(--color-pink);
}
/* Infomações sobre Fotos / nomes e profissao */
.kills{
    display: grid;
    width: 100%;
    height: 120px;
    
    grid-template-columns: 1fr 1fr 1fr;
}

.InfoAnos{
    width: 100%;
    padding: 20px;
    text-align: center;
    
    font-size: 1.0em;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    
}
.InfoProj{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.0em;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    
}
.InfoSkils{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.0em;   
    font-weight: 500;
    font-family: "Roboto Slab", serif;
}
.kills span{
    font-weight: 900;
}
.input-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}
.input-button button a{
    text-decoration: none;
    color: black;
}


.input-button  button{
   
    width: 35%;
    height: 42px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}   
.input-button  button:nth-child(2){
    font-family: "Roboto Slab", serif;
    border: 2px solid white;
    color: var(--color-black);
    background-color: var(--color-while);
    font-size: 1em;
    font-weight: 700;
}
.input-button > button:nth-child(1){
    font-family: "Roboto Slab", serif;
    color: var(--color-while);
    background-color: var(--color-pink);
    font-size: 1em;
    font-weight: 700;
   
}
.projeto-kills{
    display: flex;
    justify-content: space-evenly;
    width: 84%;
    height: 15%;
    background-color:var(--color-while);
    margin:20px auto;
    border-radius: 26px;
    align-items: center;
}
.projeto-kills > button{
    width: 45%;
    height: 75%;
    border-radius: 15px;
    border: none;
    background-color: var(--color-while);
    color:var(--color-black);
    cursor: pointer;
    font-size:1em ;
    font-family: "Roboto Slab", serif;
    font-weight: 700;

}
.projeto-kills button:focus{
    background-color: #cecece;
}
.container-projetos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
   
}
.box-projet{
    width: 80%;
    height: 240px;
    
    background-color: var(--color-black);
    margin: 20px auto;
    border-radius: 20px;
}
.bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
   
}
.bottom-content >h3{
    font-size: .9em;
    font-family: "Roboto Slab", serif;
}
.container-skills{
    display: none;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: red;
   
}
.box-skills{
    width: 80%;
    height: 240px;
    margin: 0 auto;
    background-color: var(--color-black);
    margin: 20px auto;
    border-radius: 20px;
}
.box-projet:nth-child(1){
    background-color: rgb(66, 66, 66);
    background-image: url(/Portifolio/imagens/projeto/Connecta.png);
    background-size: 100%;
    
}
.box-projet:nth-child(1) button{
    border: none;
    border-radius: 8px;
    margin: 180px 140px;
    padding: 7px 27px;
}

.box-projet:nth-child(1) button a{
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-size: 0.9rem;
    color: black;
}



@media screen and (min-width: 764px){
   
    .container-projetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .box-top{
        width:80%;
        margin: 10px auto;
       
        flex-direction: row;
       
    }
    .Tagsnames{
       
        margin: auto 10px;
    }
    #img-photo{
      margin: 0px 50px;
    }
    .container-skills{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .box-projet{
        width: 70%;
    }
    .box-skills{
        width: 70%;
    }
}
@media screen and (min-width: 800px){
    .kills{
        width: 60%;
        margin: 0 auto;
    }
    .input-button{
        width: 60%;
        margin: 0 auto;
    }
    .box-top{
        width:75%;
        justify-content: center;
    }
    
   
    .projeto-kills{
        width: 55%;
        margin: 5px auto;
    }
    .container-projetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin: 20px auto;
    }
    .container-skills{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin: 20px auto;
    }
    .box-projet{
        margin: 10px auto;
        width: 45%;
    }
    .box-skills{
        margin: 10px auto;
        width: 45%;
    }
}